/* Reducir espacio del header */
#header_wrap {
  padding: 10px 0;
}

#header_wrap .inner {
  padding: 10px 0;
}

/* Reducir espacio del footer */
#footer_wrap {
  padding: 5px 0;
}

#footer_wrap .inner {
  padding: 5px 0;
}

/* Asegurar un mínimo de altura para el cuerpo */
#main_content_wrap {
  min-height: 80vh; /* al menos 60% de la altura de la ventana */
}

#main_content_wrap .inner {
  padding: 20px 0;
}
